<nav>
    <ul>
        <li><a routerLink="productos" routerLinkActive="active" ariaCurrentWhenActive="page">Registrar productos</a></li>
        <li><a routerLink="lotes" routerLinkActive="active" ariaCurrentWhenActive="page">Registrar lote</a></li>
        <li><a routerLink="reportes/lotes" routerLinkActive="active" ariaCurrentWhenActive="page">Información de lotes</a></li>
        <li><a routerLink="reportes/productos" routerLinkActive="active" ariaCurrentWhenActive="page">Información de los productos</a></li>
        <li><a routerLink="usuarios" routerLinkActive="active" ariaCurrentWhenActive="page">Usuarios</a></li>
    </ul>
</nav>
<main>Bienvenido {{userLogged}}</main>

